/* Pygments GitHub Dark Style */
.codehilite {
    background: #0d1117;
    color: #c9d1d9;
    border-radius: 6px;
    padding: 1em;
    overflow-x: auto;
    max-height: 600px;
    overflow-y: auto;
    margin-bottom: 2em;
    border: 1px solid #30363d;
    font-size: 0.85em;
}

.codehilite pre {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.5;
}

.codehilite .hll {
    background-color: #f0f6fc;
}

.codehilite .c {
    color: #8b949e;
    font-style: italic;
}

/* Comment */
.codehilite .err {
    color: #f85149;
    background-color: #3e1f1f;
}

/* Error */
.codehilite .k {
    color: #ff7b72;
}

/* Keyword */
.codehilite .o {
    color: #ff7b72;
    font-weight: bold;
}

/* Operator */
.codehilite .cm {
    color: #8b949e;
    font-style: italic;
}

/* Comment.Multiline */
.codehilite .cp {
    color: #8b949e;
    font-weight: bold;
    font-style: italic;
}

/* Comment.Preproc */
.codehilite .c1 {
    color: #8b949e;
    font-style: italic;
}

/* Comment.Single */
.codehilite .cs {
    color: #8b949e;
    font-weight: bold;
    font-style: italic;
}

/* Comment.Special */
.codehilite .gd {
    color: #ffa198;
    background-color: #490202;
}

/* Generic.Deleted */
.codehilite .ge {
    color: #c9d1d9;
    font-style: italic;
}

/* Generic.Emph */
.codehilite .gr {
    color: #ffa198;
}

/* Generic.Error */
.codehilite .gh {
    color: #79c0ff;
    font-weight: bold;
}

/* Generic.Heading */
.codehilite .gi {
    color: #56d364;
    background-color: #0f5323;
}

/* Generic.Inserted */
.codehilite .go {
    color: #8b949e;
}

/* Generic.Output */
.codehilite .gp {
    color: #8b949e;
}

/* Generic.Prompt */
.codehilite .gs {
    color: #c9d1d9;
    font-weight: bold;
}

/* Generic.Strong */
.codehilite .gu {
    color: #79c0ff;
}

/* Generic.Subheading */
.codehilite .gt {
    color: #ff7b72;
}

/* Generic.Traceback */
.codehilite .kc {
    color: #ff7b72;
}

/* Keyword.Constant */
.codehilite .kd {
    color: #ff7b72;
}

/* Keyword.Declaration */
.codehilite .kn {
    color: #ff7b72;
}

/* Keyword.Namespace */
.codehilite .kp {
    color: #ff7b72;
}

/* Keyword.Pseudo */
.codehilite .kr {
    color: #ff7b72;
}

/* Keyword.Reserved */
.codehilite .kt {
    color: #ff7b72;
}

/* Keyword.Type */
.codehilite .m {
    color: #a5d6ff;
}

/* Literal.Number */
.codehilite .s {
    color: #a5d6ff;
}

/* Literal.String */
.codehilite .na {
    color: #79c0ff;
}

/* Name.Attribute */
.codehilite .nb {
    color: #c9d1d9;
}

/* Name.Builtin */
.codehilite .nc {
    color: #f0883e;
    font-weight: bold;
}

/* Name.Class */
.codehilite .no {
    color: #79c0ff;
    font-weight: bold;
}

/* Name.Constant */
.codehilite .nd {
    color: #d2a8ff;
    font-weight: bold;
}

/* Name.Decorator */
.codehilite .ni {
    color: #ffa198;
}

/* Name.Entity */
.codehilite .ne {
    color: #f0883e;
    font-weight: bold;
}

/* Name.Exception */
.codehilite .nf {
    color: #d2a8ff;
    font-weight: bold;
}

/* Name.Function */
.codehilite .nl {
    color: #79c0ff;
    font-weight: bold;
}

/* Name.Label */
.codehilite .nn {
    color: #ff7b72;
}

/* Name.Namespace */
.codehilite .nt {
    color: #7ee787;
}

/* Name.Tag */
.codehilite .nv {
    color: #79c0ff;
}

/* Name.Variable */
.codehilite .ow {
    color: #ff7b72;
    font-weight: bold;
}

/* Operator.Word */
.codehilite .w {
    color: #c9d1d9;
}

/* Text.Whitespace */
.codehilite .mb {
    color: #a5d6ff;
}

/* Literal.Number.Bin */
.codehilite .mf {
    color: #a5d6ff;
}

/* Literal.Number.Float */
.codehilite .mh {
    color: #a5d6ff;
}

/* Literal.Number.Hex */
.codehilite .mi {
    color: #a5d6ff;
}

/* Literal.Number.Integer */
.codehilite .mo {
    color: #a5d6ff;
}

/* Literal.Number.Oct */
.codehilite .sa {
    color: #a5d6ff;
}

/* Literal.String.Affix */
.codehilite .sb {
    color: #a5d6ff;
}

/* Literal.String.Backtick */
.codehilite .sc {
    color: #a5d6ff;
}

/* Literal.String.Char */
.codehilite .dl {
    color: #a5d6ff;
}

/* Literal.String.Delimiter */
.codehilite .sd {
    color: #a5d6ff;
}

/* Literal.String.Doc */
.codehilite .s2 {
    color: #a5d6ff;
}

/* Literal.String.Double */
.codehilite .se {
    color: #a5d6ff;
}

/* Literal.String.Escape */
.codehilite .sh {
    color: #a5d6ff;
}

/* Literal.String.Heredoc */
.codehilite .si {
    color: #a5d6ff;
}

/* Literal.String.Interpol */
.codehilite .sx {
    color: #a5d6ff;
}

/* Literal.String.Other */
.codehilite .sr {
    color: #79c0ff;
}

/* Literal.String.Regex */
.codehilite .s1 {
    color: #a5d6ff;
}

/* Literal.String.Single */
.codehilite .ss {
    color: #a5d6ff;
}

/* Literal.String.Symbol */
.codehilite .bp {
    color: #c9d1d9;
}

/* Name.Builtin.Pseudo */
.codehilite .fm {
    color: #d2a8ff;
    font-weight: bold;
}

/* Name.Function.Magic */
.codehilite .vc {
    color: #79c0ff;
}

/* Name.Variable.Class */
.codehilite .vg {
    color: #79c0ff;
}

/* Name.Variable.Global */
.codehilite .vi {
    color: #79c0ff;
}

/* Name.Variable.Instance */
.codehilite .vm {
    color: #79c0ff;
}

/* Name.Variable.Magic */
.codehilite .il {
    color: #a5d6ff;
}

/* Literal.Number.Integer.Long */